:root {
  --blue: rgba(0, 132, 255, 1);
  --body-1-font-family: "Manrope-Medium", Helvetica;
  --body-1-font-size: 16px;
  --body-1-font-style: normal;
  --body-1-font-weight: 500;
  --body-1-letter-spacing: 0.08px;
  --body-1-line-height: 28px;
  --body-2-font-family: "Manrope-Medium", Helvetica;
  --body-2-font-size: 14px;
  --body-2-font-style: normal;
  --body-2-font-weight: 500;
  --body-2-letter-spacing: 0.035px;
  --body-2-line-height: 24px;
  --button-font-family: "Manrope-Medium", Helvetica;
  --button-font-size: 14px;
  --button-font-style: normal;
  --button-font-weight: 500;
  --button-letter-spacing: 0.175px;
  --button-line-height: normal;
  --caption-font-family: "Manrope-Regular", Helvetica;
  --caption-font-size: 12px;
  --caption-font-style: normal;
  --caption-font-weight: 400;
  --caption-letter-spacing: 0.04800000071525574px;
  --caption-line-height: normal;
  --cardbg: rgba(24, 24, 27, 1);
  --cardstrok: rgba(35, 35, 35, 1);
  --components-alert-heading-font-family: "Inter-Bold", Helvetica;
  --components-alert-heading-font-size: 16px;
  --components-alert-heading-font-style: normal;
  --components-alert-heading-font-weight: 700;
  --components-alert-heading-letter-spacing: 0px;
  --components-alert-heading-line-height: 150%;
  --components-badge-default-font-family: "Inter-SemiBold", Helvetica;
  --components-badge-default-font-size: 14px;
  --components-badge-default-font-style: normal;
  --components-badge-default-font-weight: 600;
  --components-badge-default-letter-spacing: 0px;
  --components-badge-default-line-height: 100%;
  --components-badge-large-font-family: "Inter-SemiBold", Helvetica;
  --components-badge-large-font-size: 16px;
  --components-badge-large-font-style: normal;
  --components-badge-large-font-weight: 600;
  --components-badge-large-letter-spacing: 0px;
  --components-badge-large-line-height: 100%;
  --components-badge-small-font-family: "Inter-SemiBold", Helvetica;
  --components-badge-small-font-size: 12px;
  --components-badge-small-font-style: normal;
  --components-badge-small-font-weight: 600;
  --components-badge-small-letter-spacing: 0px;
  --components-badge-small-line-height: 100%;
  --components-button-default-font-family: "Inter-Bold", Helvetica;
  --components-button-default-font-size: 16px;
  --components-button-default-font-style: normal;
  --components-button-default-font-weight: 700;
  --components-button-default-letter-spacing: 0px;
  --components-button-default-line-height: 150%;
  --components-button-large-font-family: "Inter-Bold", Helvetica;
  --components-button-large-font-size: 20px;
  --components-button-large-font-style: normal;
  --components-button-large-font-weight: 700;
  --components-button-large-letter-spacing: 0px;
  --components-button-large-line-height: 150%;
  --components-button-small-font-family: "Inter-Bold", Helvetica;
  --components-button-small-font-size: 14px;
  --components-button-small-font-style: normal;
  --components-button-small-font-weight: 700;
  --components-button-small-letter-spacing: 0px;
  --components-button-small-line-height: 150%;
  --components-copy-default-font-family: "Inter-Regular", Helvetica;
  --components-copy-default-font-size: 12px;
  --components-copy-default-font-style: normal;
  --components-copy-default-font-weight: 400;
  --components-copy-default-letter-spacing: 0px;
  --components-copy-default-line-height: 150%;
  --components-copy-tooltip-font-family: "Inter-Regular", Helvetica;
  --components-copy-tooltip-font-size: 8px;
  --components-copy-tooltip-font-style: normal;
  --components-copy-tooltip-font-weight: 400;
  --components-copy-tooltip-letter-spacing: 0px;
  --components-copy-tooltip-line-height: 150%;
  --components-divider-default-font-family: "Inter-Regular", Helvetica;
  --components-divider-default-font-size: 16px;
  --components-divider-default-font-style: normal;
  --components-divider-default-font-weight: 400;
  --components-divider-default-letter-spacing: 0px;
  --components-divider-default-line-height: 150%;
  --components-divider-label-font-family: "Inter-Regular", Helvetica;
  --components-divider-label-font-size: 14px;
  --components-divider-label-font-style: normal;
  --components-divider-label-font-weight: 400;
  --components-divider-label-letter-spacing: 0px;
  --components-divider-label-line-height: 150%;
  --components-field-default-font-family: "Inter-Regular", Helvetica;
  --components-field-default-font-size: 16px;
  --components-field-default-font-style: normal;
  --components-field-default-font-weight: 400;
  --components-field-default-letter-spacing: 0px;
  --components-field-default-line-height: 150%;
  --components-field-large-font-family: "Inter-Regular", Helvetica;
  --components-field-large-font-size: 20px;
  --components-field-large-font-style: normal;
  --components-field-large-font-weight: 400;
  --components-field-large-letter-spacing: 0px;
  --components-field-large-line-height: 150%;
  --components-field-small-font-family: "Inter-Regular", Helvetica;
  --components-field-small-font-size: 14px;
  --components-field-small-font-style: normal;
  --components-field-small-font-weight: 400;
  --components-field-small-letter-spacing: 0px;
  --components-field-small-line-height: 150%;
  --components-fieldcontrol-default-font-family: "Inter-Regular", Helvetica;
  --components-fieldcontrol-default-font-size: 16px;
  --components-fieldcontrol-default-font-style: normal;
  --components-fieldcontrol-default-font-weight: 400;
  --components-fieldcontrol-default-letter-spacing: 0px;
  --components-fieldcontrol-default-line-height: 150%;
  --components-fieldcontrol-large-font-family: "Inter-Regular", Helvetica;
  --components-fieldcontrol-large-font-size: 20px;
  --components-fieldcontrol-large-font-style: normal;
  --components-fieldcontrol-large-font-weight: 400;
  --components-fieldcontrol-large-letter-spacing: 0px;
  --components-fieldcontrol-large-line-height: 150%;
  --components-fieldcontrol-small-font-family: "Inter-Regular", Helvetica;
  --components-fieldcontrol-small-font-size: 14px;
  --components-fieldcontrol-small-font-style: normal;
  --components-fieldcontrol-small-font-weight: 400;
  --components-fieldcontrol-small-letter-spacing: 0px;
  --components-fieldcontrol-small-line-height: 150%;
  --components-fieldmessages-description-font-family: "Inter-Regular", Helvetica;
  --components-fieldmessages-description-font-size: 14px;
  --components-fieldmessages-description-font-style: normal;
  --components-fieldmessages-description-font-weight: 400;
  --components-fieldmessages-description-letter-spacing: 0px;
  --components-fieldmessages-description-line-height: 150%;
  --components-fieldmessages-error-font-family: "Inter-Regular", Helvetica;
  --components-fieldmessages-error-font-size: 14px;
  --components-fieldmessages-error-font-style: normal;
  --components-fieldmessages-error-font-weight: 400;
  --components-fieldmessages-error-letter-spacing: 0px;
  --components-fieldmessages-error-line-height: 150%;
  --components-heading-1-font-family: "Inter-Light", Helvetica;
  --components-heading-1-font-size: 48px;
  --components-heading-1-font-style: normal;
  --components-heading-1-font-weight: 300;
  --components-heading-1-letter-spacing: 0px;
  --components-heading-1-line-height: 125%;
  --components-heading-2-font-family: "Inter-Regular", Helvetica;
  --components-heading-2-font-size: 40px;
  --components-heading-2-font-style: normal;
  --components-heading-2-font-weight: 400;
  --components-heading-2-letter-spacing: 0px;
  --components-heading-2-line-height: 125%;
  --components-heading-3-font-family: "Inter-Medium", Helvetica;
  --components-heading-3-font-size: 32px;
  --components-heading-3-font-style: normal;
  --components-heading-3-font-weight: 500;
  --components-heading-3-letter-spacing: 0px;
  --components-heading-3-line-height: 125%;
  --components-heading-4-font-family: "Inter-SemiBold", Helvetica;
  --components-heading-4-font-size: 24px;
  --components-heading-4-font-style: normal;
  --components-heading-4-font-weight: 600;
  --components-heading-4-letter-spacing: 0px;
  --components-heading-4-line-height: 125%;
  --components-heading-5-font-family: "Inter-Bold", Helvetica;
  --components-heading-5-font-size: 20px;
  --components-heading-5-font-style: normal;
  --components-heading-5-font-weight: 700;
  --components-heading-5-letter-spacing: 0px;
  --components-heading-5-line-height: 125%;
  --components-heading-6-font-family: "Inter-ExtraBold", Helvetica;
  --components-heading-6-font-size: 16px;
  --components-heading-6-font-style: normal;
  --components-heading-6-font-weight: 800;
  --components-heading-6-letter-spacing: 0px;
  --components-heading-6-line-height: 125%;
  --components-heading-default-font-family: "Inter-Regular", Helvetica;
  --components-heading-default-font-size: 16px;
  --components-heading-default-font-style: normal;
  --components-heading-default-font-weight: 400;
  --components-heading-default-letter-spacing: 0px;
  --components-heading-default-line-height: 125%;
  --components-highlightmatch-highlighted-font-family: "Inter-Bold", Helvetica;
  --components-highlightmatch-highlighted-font-size: 16px;
  --components-highlightmatch-highlighted-font-style: normal;
  --components-highlightmatch-highlighted-font-weight: 700;
  --components-highlightmatch-highlighted-letter-spacing: 0px;
  --components-highlightmatch-highlighted-line-height: 150%;
  --components-icon-default-font-family: "Inter-Regular", Helvetica;
  --components-icon-default-font-size: 16px;
  --components-icon-default-font-style: normal;
  --components-icon-default-font-weight: 400;
  --components-icon-default-letter-spacing: 0px;
  --components-icon-default-line-height: 100%;
  --components-inappmessaging-header-font-family: "Inter-ExtraBold", Helvetica;
  --components-inappmessaging-header-font-size: 16px;
  --components-inappmessaging-header-font-style: normal;
  --components-inappmessaging-header-font-weight: 800;
  --components-inappmessaging-header-letter-spacing: 0px;
  --components-inappmessaging-header-line-height: 150%;
  --components-loader-default-font-family: "Inter-Regular", Helvetica;
  --components-loader-default-font-size: 12px;
  --components-loader-default-font-style: normal;
  --components-loader-default-font-weight: 400;
  --components-loader-default-letter-spacing: 0px;
  --components-loader-default-line-height: 150%;
  --components-loader-large-font-family: "Inter-Regular", Helvetica;
  --components-loader-large-font-size: 14px;
  --components-loader-large-font-style: normal;
  --components-loader-large-font-weight: 400;
  --components-loader-large-letter-spacing: 0px;
  --components-loader-large-line-height: 150%;
  --components-loader-linear-font-family: "Inter-Regular", Helvetica;
  --components-loader-linear-font-size: 16px;
  --components-loader-linear-font-style: normal;
  --components-loader-linear-font-weight: 400;
  --components-loader-linear-letter-spacing: 0px;
  --components-loader-linear-line-height: 150%;
  --components-loader-small-font-family: "Inter-Regular", Helvetica;
  --components-loader-small-font-size: 8px;
  --components-loader-small-font-style: normal;
  --components-loader-small-font-weight: 400;
  --components-loader-small-letter-spacing: 0px;
  --components-loader-small-line-height: 150%;
  --components-menu-default-font-family: "Inter-Regular", Helvetica;
  --components-menu-default-font-size: 16px;
  --components-menu-default-font-style: normal;
  --components-menu-default-font-weight: 400;
  --components-menu-default-letter-spacing: 0px;
  --components-menu-default-line-height: 150%;
  --components-pagination-current-font-family: "Inter-Regular", Helvetica;
  --components-pagination-current-font-size: 14px;
  --components-pagination-current-font-style: normal;
  --components-pagination-current-font-weight: 400;
  --components-pagination-current-letter-spacing: 0px;
  --components-pagination-current-line-height: 150%;
  --components-phonenumberfield-default-font-family: "Inter-Regular", Helvetica;
  --components-phonenumberfield-default-font-size: 16px;
  --components-phonenumberfield-default-font-style: normal;
  --components-phonenumberfield-default-font-weight: 400;
  --components-phonenumberfield-default-letter-spacing: 0px;
  --components-phonenumberfield-default-line-height: 150%;
  --components-placeholder-default-font-family: "Inter-Regular", Helvetica;
  --components-placeholder-default-font-size: 16px;
  --components-placeholder-default-font-style: normal;
  --components-placeholder-default-font-weight: 400;
  --components-placeholder-default-letter-spacing: 0px;
  --components-placeholder-default-line-height: 150%;
  --components-rating-default-font-family: "Inter-Regular", Helvetica;
  --components-rating-default-font-size: 16px;
  --components-rating-default-font-style: normal;
  --components-rating-default-font-weight: 400;
  --components-rating-default-letter-spacing: 0px;
  --components-rating-default-line-height: 150%;
  --components-select-default-font-family: "Inter-Regular", Helvetica;
  --components-select-default-font-size: 16px;
  --components-select-default-font-style: normal;
  --components-select-default-font-weight: 400;
  --components-select-default-letter-spacing: 0px;
  --components-select-default-line-height: 150%;
  --components-selectfield-default-font-family: "Inter-Regular", Helvetica;
  --components-selectfield-default-font-size: 16px;
  --components-selectfield-default-font-style: normal;
  --components-selectfield-default-font-weight: 400;
  --components-selectfield-default-letter-spacing: 0px;
  --components-selectfield-default-line-height: 150%;
  --components-sliderfield-default-font-family: "Inter-Regular", Helvetica;
  --components-sliderfield-default-font-size: 16px;
  --components-sliderfield-default-font-style: normal;
  --components-sliderfield-default-font-weight: 400;
  --components-sliderfield-default-letter-spacing: 0px;
  --components-sliderfield-default-line-height: 150%;
  --components-stepperfield-input-font-family: "Inter-Regular", Helvetica;
  --components-stepperfield-input-font-size: 16px;
  --components-stepperfield-input-font-style: normal;
  --components-stepperfield-input-font-weight: 400;
  --components-stepperfield-input-letter-spacing: 0px;
  --components-stepperfield-input-line-height: 150%;
  --foundation-blueb50: rgba(230, 242, 255, 1);
  --gray: rgba(144, 144, 144, 1);
  --h1-font-family: "Manrope-ExtraBold", Helvetica;
  --h1-font-size: 45px;
  --h1-font-style: normal;
  --h1-font-weight: 800;
  --h1-letter-spacing: 0px;
  --h1-line-height: 56px;
  --h2-font-family: "Manrope-Bold", Helvetica;
  --h2-font-size: 36px;
  --h2-font-style: normal;
  --h2-font-weight: 700;
  --h2-letter-spacing: 0.09px;
  --h2-line-height: normal;
  --h3-font-family: "Manrope-SemiBold", Helvetica;
  --h3-font-size: 28px;
  --h3-font-style: normal;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0px;
  --h3-line-height: 36px;
  --h4-font-family: "Manrope-Bold", Helvetica;
  --h4-font-size: 20px;
  --h4-font-style: normal;
  --h4-font-weight: 700;
  --h4-letter-spacing: 0.030000001192092896px;
  --h4-line-height: normal;
  --large-font-family: "Inter-Regular", Helvetica;
  --large-font-size: 20px;
  --large-font-style: normal;
  --large-font-weight: 400;
  --large-letter-spacing: 0px;
  --large-line-height: 150%;
  --medium-font-family: "Inter-Regular", Helvetica;
  --medium-font-size: 16px;
  --medium-font-style: normal;
  --medium-font-weight: 400;
  --medium-letter-spacing: 0px;
  --medium-line-height: 150%;
  --overline-font-family: "Manrope-Regular", Helvetica;
  --overline-font-size: 10px;
  --overline-font-style: normal;
  --overline-font-weight: 400;
  --overline-letter-spacing: 0.15px;
  --overline-line-height: normal;
  --red: rgba(217, 39, 39, 1);
  --shoe: 0px 7px 17px 0px rgba(0, 0, 0, 0.17);
  --small-font-family: "Inter-Regular", Helvetica;
  --small-font-size: 14px;
  --small-font-style: normal;
  --small-font-weight: 400;
  --small-letter-spacing: 0px;
  --small-line-height: 150%;
  --subtitle-1-font-family: "Manrope-SemiBold", Helvetica;
  --subtitle-1-font-size: 16px;
  --subtitle-1-font-style: normal;
  --subtitle-1-font-weight: 600;
  --subtitle-1-letter-spacing: 0.024000000953674317px;
  --subtitle-1-line-height: 26px;
  --subtitle-2-font-family: "Manrope-Medium", Helvetica;
  --subtitle-2-font-size: 14px;
  --subtitle-2-font-style: normal;
  --subtitle-2-font-weight: 500;
  --subtitle-2-letter-spacing: 0.014000000208616257px;
  --subtitle-2-line-height: normal;
  --xl-font-family: "Inter-Regular", Helvetica;
  --xl-font-size: 24px;
  --xl-font-style: normal;
  --xl-font-weight: 400;
  --xl-letter-spacing: 0px;
  --xl-line-height: 150%;
  --xs-font-family: "Inter-Regular", Helvetica;
  --xs-font-size: 12px;
  --xs-font-style: normal;
  --xs-font-weight: 400;
  --xs-letter-spacing: 0px;
  --xs-line-height: 150%;
  --xxl-font-family: "Inter-Regular", Helvetica;
  --xxl-font-size: 32px;
  --xxl-font-style: normal;
  --xxl-font-weight: 400;
  --xxl-letter-spacing: 0px;
  --xxl-line-height: 150%;
  --xxs-font-family: "Inter-Regular", Helvetica;
  --xxs-font-size: 8px;
  --xxs-font-style: normal;
  --xxs-font-weight: 400;
  --xxs-letter-spacing: 0px;
  --xxs-line-height: 150%;
  --xxxl-font-family: "Inter-Regular", Helvetica;
  --xxxl-font-size: 40px;
  --xxxl-font-style: normal;
  --xxxl-font-weight: 400;
  --xxxl-letter-spacing: 0px;
  --xxxl-line-height: 150%;
  --xxxs-font-family: "Inter-Regular", Helvetica;
  --xxxs-font-size: 6px;
  --xxxs-font-style: normal;
  --xxxs-font-weight: 400;
  --xxxs-letter-spacing: 0px;
  --xxxs-line-height: 150%;
  --xxxxl-font-family: "Inter-Regular", Helvetica;
  --xxxxl-font-size: 48px;
  --xxxxl-font-style: normal;
  --xxxxl-font-weight: 400;
  --xxxxl-letter-spacing: 0px;
  --xxxxl-line-height: 150%;
}
